<!DOCTYPE html>
<html>

<head>
  <style>
    tr {
      height: 45px
    }
  </style>
</head>

<body style="background-color:#ffffff;">
  <p><img src="http://images8.webydo.com/93/9340882/3958%2f268BFDCA-400A-104D-DC0C-F6C658386289.png_400" alt="" width="151"
      height="89" /></p>
  <% if (htmlWebpackPlugin.options.version) { %>
    <h2>AdaptableBlotter.JS Demos (version
      <%= htmlWebpackPlugin.options.version %>
        <%= htmlWebpackPlugin.options.versiondate %>)</h2>
    <% } %>
      <table style="width:600px">
        <tr>
          <td><img src="https://openfin.co/wp-content/uploads/2017/01/OpenFin.png" alt="" width="130" height="38" /></td>
          <td><a href="hypergriddemo.html">OpenFin Hypergrid Demo</a></td>
        </tr>
        <tr>
          <td><img src="http://www.irisclasson.com/wp-content/uploads/2012/08/telerikLogo-web-1124x449px-1024x409.png" alt=""
              width="113" height="45" /></td>
          <td><a href="kendodemo.html">Telerik Kendo Demo</a></td>
        </tr>
        <tr>
          <td>Demo Git Repo</td>
          <td><a a href="https://github.com/jonathannaim/adaptableblotter-demo">https://github.com/jonathannaim/adaptableblotter-demo</a></td>
        </tr>
        <tr>
          <td>Download User Guide</td>
          <td><a a href="Adaptable_Blotter_User_Guide.pdf">Adaptable Blotter User Guide</a></td>
        </tr>
        <tr>
          <td colspan="2"><i>Please note that licences are free for development use, but a paid-for annual end user licence is required for
            each production user.</i></td>
        </tr>
        <tr>
          <td colspan="2"><i>See the licence file below for more information or contact the <a href="mailto:support@adaptabletools.com">Adaptable Tools Support team </a></i></td>
        </tr>
        <tr>
          <td><i>Licence Information</i></td>
          <td><i><a a href="LICENSE.md">Adaptable Blotter Licence</a></i></td>
        </tr>
      </table>

</html>