<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
  <p><img src="http://images8.webydo.com/92/9227175/3958/FB1B6AA0-1649-8F4A-7ED2-1F1B38CCFC1A.png" alt="" width="300" height="176"
    /></p>
  <% if (htmlWebpackPlugin.options.version) { %>
    <h2>AdaptableBlotter.JS Performance Monitor</h2>
    <i>Version: <%= htmlWebpackPlugin.options.version %>
    <br/>
    Date: <%= htmlWebpackPlugin.options.versiondate %></i>
    <% } %>
      <p/>
      <table>
        <tr>
          <td><p/>Use the AdaptableBlotter.JS Performance Monitor to test the peformance of AdaptableBlotter.JS, running on
            top of OpenFin's Hypergrid using dummy data.<p/>
            You can stipulate the number of columns and the number of rows, and set the 'ticking rate' of the Blotter.
          </td>
        </tr>
        <tr style="height:70px">
          <td>
            <button class="btn btn-primary" onclick="location.href='hypergriddemo.html' "><p/><p/>Start Performance Monitor<p/></button>
          </td>
        </tr>
         <tr>
          <td>
           <p/><p/><b>Help</b><br/>If you require further information please visit our <a href="http://adaptabletools.com" target="_blank">website</a> or use the <a href="https://adaptabletools.zendesk.com/hc/en-us" target="_blank">Online Help</a>.  Alternatively download the <a a href="Adaptable_Blotter_User_Guide.pdf" target="_blank">Adaptable Blotter User Guide</a></td>
        </tr>
        <tr>
          <td>
            <p/><b>Licence Information</b><br/> Please note that Adaptable Blotter licences are free for development use, but
            a paid-for annual end user licence is required for each production user. For more information please read the
            <a a href="LICENSE.md" target="_blank">Licence File</a> or contact <a href="mailto:support@adaptabletools.com">Adaptable Tools Support</a>.
          </td>
        </tr>
        <tr>
          <td>
            <p/><b>Source Code</b><br/> The Repository for the AdaptableBlotter.JS Performance Monitor is located <a a href="https://github.com/jonathannaim/adaptableblotter-perftest">here</a>.</td>
        </tr>
      </table>
  </div>
</body>

</html>